<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPythonLabel" jhiTranslate="dataQualityBoosterApp.python.home.createOrEditLabel">Create or edit a Python</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!python.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="python.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataQualityBoosterApp.python.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="python.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataQualityBoosterApp.python.server" for="field_server">Server</label>
            <input type="text" class="form-control" name="server" id="field_server"
                [(ngModel)]="python.server" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataQualityBoosterApp.python.login" for="field_login">Login</label>
            <input type="text" class="form-control" name="login" id="field_login"
                [(ngModel)]="python.login" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataQualityBoosterApp.python.keySSH" for="field_keySSH">Key SSH</label>
            <textarea class="form-control" name="keySSH" id="field_keySSH"
                [(ngModel)]="python.keySSH" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataQualityBoosterApp.python.defaultParameter" for="field_defaultParameter">Default Parameter</label>
            <input type="text" class="form-control" name="defaultParameter" id="field_defaultParameter"
                [(ngModel)]="python.defaultParameter" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
